<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
</head>
<style type="text/css">
    body{
        margin: 4px;
    }

    a{text-decoration: none;
        color: black
    }

    .active_li a{
        color: white;
    }
</style>

<body>

<form action="/toUsers" method="get" >
    <input type="submit" value="用户管理界面">
</form>

<form action="/toGetPosition" method="get" >
    <input type="submit" value="查询学生位置">
</form>

<form action="/toTrackBack" method="get" >
    <input type="submit" value="查询学生历史轨迹">
</form>

<form action="/toTrack" method="get">
    <input type="submit" value="查询学生聚集地">
</form>

</body>

</html>
