<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=1.5&ak=7mtjGViOCWrfLByXm9PRBUWbnCU4rbYr"></script>

</head>
<style type="text/css">
    html {
        height: 100%
    }

    body {
        height: 100%;
        margin: 0 10px;
    }

    #container {
        height: 100%;
        margin: 20px;
    }
</style>
<body>
<input  type="text"   id="id"   placeholder="查询学生数量">
<input type="button" onclick="refresh()" value="查询">
<form action="/toControl" method="get">
    <input type="submit" value="返回">
</form>
<div id="container"></div>
<script type="text/javascript">
    var map = new BMap.Map("container"); //初始化地图

    var points = [
    ];//数据准备

    map.centerAndZoom(new BMap.Point(103.388611, 35.563611), 5);//设置中心点和显示级别。中国。
    var id=0;
    map.enableScrollWheelZoom();//滚轮放大缩小。
    var point=[];
    var xhttp = new XMLHttpRequest();
    var idx=0;
    var id=document.getElementById("id");
    function refresh()
    {
        map.clearOverlays();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // console.log(1111);
                // console.log(this.responseText);
                const obj = JSON.parse(this.responseText);
                // console.log(obj.success);
                if(obj.success)
                {
                    // console.log(2222);
                    for(let user of obj.data)
                    {
                        // console.log(user);
                        points[idx] ={"lng":user.lng,"lat":user.lat,"id":user.id};
                        add();
                        idx++;
                        // console.log(3333);
                    }
                }


            }

        }
        xhttp.open("GET", "/getPosition?num="+id.value, true);
        xhttp.setRequestHeader("Accept", 'application/json');
        xhttp.send();
    }

    function add()
    {
        // console.log(points[idx].lng+"      "+points[idx].lat+"      "+points[idx].id);

        point=new BMap.Point(points[idx].lng, points[idx].lat);
        marker = new BMap.Marker(point);
        map.addOverlay(marker);
        var circle = new BMap.Circle(point,500);
        circle.setFillColor("#A6CBA1"); //填充颜色
        circle.setStrokeColor("#A6CBA1"); //边线颜色
        map.addOverlay(circle);            //增加圆
        (function () {
            var thePoint = points[idx];
            marker.addEventListener("click", function () {
                showInfo(this, thePoint);
            });
        })();
    }
    function showInfo(thisMaker, point) {
        var sContent =
            '<ul class="info_ul">'
            + '<li class="info_li">'
            + '<span class="info_span">人数：</span>' + point.id + '</li>'
            + '</ul>';
        var infoWindow = new BMap.InfoWindow(sContent);// 创建信息窗口对象
        thisMaker.openInfoWindow(infoWindow);//图片加载完毕重绘infowindow
    }
</script>
</body>
</html>